%h2 Events
%ul
- @events.group_by(&:year).each do |year, events|
  %li= year
  %ul
    - events.each do |event|
      %li= event.name
      %ul
        - event.resources.each do |resource|
          %li= link_to resource.name, resource.url
